<div class="container bg-green-900 text-white">
  <div class="inner-cont">
    <h1 class="text-center">Contact Us</h1>
    <p class="text-center">Mail Us : ahzamnaseem.kidwai@gmail.com</p>
    <p class="text-center"> Location : Lucknow, India</p>
  </div>
</div>
</div>
</body>
</html>