<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Genertaor</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" href="Web-App Projects/QR Code App/public/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="h-screen">
        <div class="conatiner flex flex-row justify-center text-center text-white p-10 bg-green-900">
            <h1 class="text-4xl colo"> QR Code Genertaor</h1>
        </div>
        